/* UTILS */

main {
    padding: 0;
}

/* MAIN GRID */

.main-grid {
    display: flex;
    padding: 0 7px;
}

.main-grid div {
    width: 80vw;
    height: 80vw;
    flex-shrink: 0;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

.countdown {
    background: #555;
    height: 25vh;
    width: 100%;
    display: block;
    margin: 7px;
}

.main-grid div .text-cont h2 {
    font-size: 1.4rem;
}

.main-grid div .text-cont {
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
}

/* LATEST STORIES */

.latest-stories h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
}

.latest-stories div {
    grid-column-end: span 4;
}

.latest-stories>div {
    display: flex;
}

.latest-stories img {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}


/* NEWSLETTER */

.newsletter {
    width: 100%;
    grid-template-columns: 100%;
}

.newsletter h2 {
    font-size: 1.5rem;
}

.newsletter div {
    width: 90vw;
}

/* EXPLORE */

.explore h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 60px;
}

/* VIDEOS */

.video-showcase .container {
    grid-template-columns: unset;
    grid-template-rows: auto auto;
}

.video-showcase h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 60px;
}

.more-videos {
    display: flex;
    gap: 20px;
    padding: 0 40px;
    margin-bottom: 40px;
}

.more-videos img {
    width: 30vw;
}

.video-showcase {
    padding: 40px 0;
}

/* WORK WITH US */

.work-with-us {
    grid-template-columns: unset;
}

.copy {
    text-align: center;
    padding: 50px 20px;
}

.work-features {
    padding: 0 25%;
    margin-top: -10%;
    margin-bottom: 10%;
    justify-content: space-between;
}

.feature-showcase:nth-child(1), .feature-showcase:nth-child(3){
    margin-right: 50px;
}

.feature-showcase:nth-child(2), .feature-showcase:nth-child(4) {
    margin-left: 50px;
}

/* BRANDS */

.brands > * {
    max-width: 50%;
}