*, *::after, *::before {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

main {
    padding: 0 25px;
    max-width: 1600px;
    margin: 0 auto;
}

/* MAIN MENU */

.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 15px;
    background-color: #fdfdfd;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.main-menu .menu-button {
    display: none;
}

.main-menu svg {
    width: 75px;
}

.main-menu ul {
    display: flex;
    gap: 25px;
    text-transform: uppercase;
}

.main-menu img {
    width: 20px;
    filter: invert(80%);
    margin-right: 25px;
}

/* ANNOUNCEMENT */

.announcement {
    position: fixed;
    top: 50px;
    height: 35px;
    background-color: #f5da40;
    width: 100%;
    display: grid;
    align-items: center;
    padding-left: 15px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
    z-index: 1;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 180px 15px 80px;
    margin: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

header > * {
    flex: 1;
}

header .tnw-logo {
    max-width: 250px;
}


header h1 {
    width: 50%;
    text-align: right;
    display: grid;
    align-items: center;
    font-weight: 200;
    color: #555;
}

/* MAIN GRID */

.main-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 25vh 12vh 25vh;
    gap: 7px;
}

.main-grid div {
    background-color: #555;
}

.main-grid div:first-child {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

.main-grid div:last-child {
    grid-column: 3 / -1;
    grid-row: 2 / -1;
}
.main-grid div:nth-child(4) {
    grid-column-end: span 2;
}

/* POPULAR ARTICLES */

.popular-articles-wrapper {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    background-color: #f0f0f0;
}

.popular-articles {
    max-width: 1600px;
    padding: 50px;
    margin: 40px auto;
}

.popular-articles h2 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
    color: #999;
}

.popular-articles ul {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}

.popular-articles li {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.popular-articles span {
    font-weight: bold;
    font-size: 2em;
    color: #c09;
}

.popular-articles p {
    transition: all 0.3s ease;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-decoration-thickness: 3px;
}

.popular-articles p:hover {
    text-decoration: underline;
    text-decoration-color: #ebb1dc;
    text-decoration-thickness: 3px;
}

/* LATEST STORIES */

.latest-stories {
    margin: 0 auto;
    max-width: 1250px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: 22vh;
    gap: 20px;
    padding: 10px 30px 120px;
}

.latest-stories h2 {
    grid-column: 1 / -1;
    margin: 30px 0;
    font-size: 2.5rem;
}

.latest-stories div {
    background-color: #999;
}

/* EXPLORE */

.explore-wrapper {
    background-color: #f0f0f0;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
}

.explore {
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: 22vh;
    gap: 20px;
    padding: 40px 40px 90px;
}

.explore h2 {
    grid-column: 1 / -1;
    margin: 30px 0;
    font-size: 2.5rem;
}

.explore div {
    background-color: #999;
}

/* NEWSLETTER */
.newsletter-wrapper {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    padding: 50px 0;
    background-image: url(https://next.tnwcdn.com/assets/next/img/spacesbg.png);
    background-size: 160%;
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;

}

.newsletter {
    display: grid;
    place-content: center;
    place-items: center;
    grid-auto-rows: 1fr;
    color: #fafafa;
}

.newsletter h2 {
    font-size: 2.5rem;
}

.newsletter div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    background-color: #fafafa;
    flex: 1;
    width: 100%;
}

.newsletter img {
    width: 20px;
    filter: invert(80%);
}

.newsletter input {
    width: 100%;
    padding: 10px;
}

/* VIDEOS */

.video-showcase {
    padding: 100px 60px;
    background-color: #f0f0f0;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    display: flex;
    justify-content: center;
}

.video-showcase .container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    overflow: hidden;
}

.video-container {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}
.video-container iframe {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.video-showcase h2 {
    font-size: 2.5rem;
    grid-column: 1 / -1;
    margin-bottom: 60px;
}

.current-video {
    display: grid;
    grid-template-rows: auto auto;
}


.current-video div:last-child {
    height: 7.2rem;
    background-color: #333;
    color: #fafafa;
    padding: 0 20px;
    margin-top: -5px;
    display: grid;
    align-items: center;
    align-content: center;
}

.current-video h4 {
    padding-bottom: 15px;
}

.current-video p {
    font-weight: 100;
}

.more-videos {
    overflow-y: auto;
}

.more-videos img {
    width: 100%;
}

/* WORK WITH US */

.work-with-us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.copy {
    padding: 100px 0;
}

.copy h4 {
    text-transform: uppercase;
    font-size: 1rem;
}

.copy h2 {
    font-size: 2rem;
    margin: 5px 0 20px;
}

.copy p {
    font-size: 1.2rem;
}

.copy button {
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #0cc;
    color: #fafafa;
    margin-top: 40px;
}

.feature-showcase {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1.2fr 1fr;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}
.work-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
}

/* BRANDS SHOWCASE*/

.brands {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    padding: 0 50px 80px;
}

.brands > * {
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.4s ease;
}

.brands > *:hover {
    opacity: 0.8;
}

/* FOOTER */

.footer-wrapper {
    background-color: #111;
}

.footer {
    color: #fafafa;
    padding: 60px 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer .tnw-logo {
    max-width: 150px;
    fill: #fafafa;
    margin-bottom: 20px;
}

.footer-links {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.footer-hover {
    margin: 20px 0;
}

.footer-hover li {
    margin: 10px 0;
    color: #00cccc;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all 0.4s ease;
    text-underline-offset: 3px;
}

.footer-hover li:hover {
    text-decoration-color: #3baaaa;
}

.separator {
    background-color: #444;
    height: 1px;
    width: 100vw;
    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
}

.footer-text {
    text-align: center;
    margin-top: 40px;
}

.footer-text > * {
    margin: 10px 0;
}